*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
   
    padding: 0 1em;
    background-color:#03045e;
    color:cyan;
    padding: 10px;
}
.main-container{
    width: 50%;
    padding: 2em;
}

       .form-container{
        text-align: center;
        border: 2px solid rgb(105, 171, 200);
        border-radius: 20px;
        box-shadow: 10px 10px 5px rgb(15, 94, 105);
        width: 60%;
        margin: auto;
        padding: 30px;
        background-color: rgba(0, 255, 255, 0.218);
       
     }
     table{
        margin-top:2rem;
        width: 80%;
        margin: auto;
     }
    input[type="button"] {
        margin-top: 30px;
        background-color:#03045e;
    color:cyan;
    padding: 10px;
      border-radius: 15px;
      font-size: 20px;
        text-align: center;
     }
     input[type="text"],
input[type="number"] {

  border-bottom: 2px solid;
  width: 100%;
}
     th,
td {
  padding: 0.5em;
  margin: auto;
  width: 50%;
  margin: auto;
}
    

     
     /* th,td{
        padding: 10px;
     } */
     #show{
      display :none;
       border: 2px solid black;
       border-radius: 10px;
       margin-top: 30px;
       width: 60%;
       margin: 2em auto;
       padding: 10px;
        background-color:#03045e;
    color:cyan;
       font-size: 20px;
     }

     @media screen  and (max-width:769px) {
        .main-container{
            width: 80%;
            margin: auto;
          
        }
    

      
        .form-container {
            width: 80%;
            margin: auto;
        }
       
        table{
            padding: 5px;
            width: 100%;
            margin: 1em auto;

        }

     }


    

     
  


    